<div class="container mx-auto w-full h-screen flex justify-center items-center">
  <form
    action=""
    [formGroup]="formLogin"
    (ngSubmit)="redirect()"
    class="p-5 shadow-xl rounded-lg"
    style="width: 500px"
  >
    <h1 class="text-5xl font-bold pb-10 text-center uppercase">blossom</h1>
    <div class="form-group flex flex-col mb-5">
      <label class="mb-2 text-xl font-bold">User or email</label>
      <input
        formControlName="username"
        type="email"
        placeholder="Insert User"
        class="p-5 rounded-lg border"
      />
    </div>
    <div class="form-group flex flex-col mb-5">
      <label class="mb-2 text-xl font-bold">Password: </label>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="p-5 rounded-lg border"
      />
    </div>
    <button
      class="w-full flex items-center justify-center p-5 hover:bg-neutral-800 transition-all bg-black text-white rounded-lg shadow-lg mt-5 font-bold text-xl"
    >
      Log In
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="25"
        height="25"
        viewBox="0 0 24 24"
        class="ml-3"
      >
        <path fill="#ffffff" d="m10.998 16l5-4l-5-4v3h-9v2h9z" />
        <path
          fill="#ffffff"
          d="M12.999 2.999a8.938 8.938 0 0 0-6.364 2.637L8.049 7.05c1.322-1.322 3.08-2.051 4.95-2.051s3.628.729 4.95 2.051S20 10.13 20 12s-.729 3.628-2.051 4.95s-3.08 2.051-4.95 2.051s-3.628-.729-4.95-2.051l-1.414 1.414c1.699 1.7 3.959 2.637 6.364 2.637s4.665-.937 6.364-2.637C21.063 16.665 22 14.405 22 12s-.937-4.665-2.637-6.364a8.938 8.938 0 0 0-6.364-2.637z"
        />
      </svg>
    </button>
  </form>
</div>
