<p-accordion [activeIndex]="0">
    <p-accordionTab header="Covid Vaccine">
        <div class="">
            <h3 class="font-bold">Covid-19</h3>
            <p class="font-bold">Warnings:<span class="ml-3 font-normal">Information here !!!</span></p>
            <p class="font-bold">Effect duration:<span class="ml-3 font-normal">Information here !!!</span></p>
            <p class="font-bold">Diseases to be treated:<span class="ml-3 font-normal">Information here !!!</span></p>
        </div>
    </p-accordionTab>
</p-accordion>