<div class="w-full">
  <h3 class="text-5xl font-bold">Staff</h3>
  <div class="w-full flex justify-around">
    <div class="mt-10 p-5 w-6/12">
      <form action="" class="flex w-full">
        <div class="form-group mr-5">
          <input
            name="termPeople"
            [(ngModel)]="termPeople"
            type="text"
            placeholder="Search"
            class="py-2 px-5 border-b border-black"
          />
        </div>
        <button
          (click)="searchPeople()"
          class="border border-black py-2 px-5 rounded hover:bg-black hover:text-white transition-all"
        >
          Search
        </button>
      </form>
      <div class="mt-5">
        <app-card-info [persons]="persons" />
      </div>
    </div>

    <!-- vaccination -->
    <div class="mt-10 w-6/12 p-5">
      <form action="" class="flex">
        <div class="form-group mr-5">
          <input
            name="termVaccine"
            [(ngModel)]="termVaccine"
            type="text"
            placeholder="Search"
            class="py-2 px-5 border-b border-black"
          />
        </div>
        <button
          (click)="searchVaccine()"
          class="border border-black py-2 px-5 rounded hover:bg-black hover:text-white transition-all"
        >
          Search
        </button>
      </form>
      <div class="mt-5">
        <app--info-vaccine [vaccines]="vaccines" />
      </div>
    </div>
  </div>
</div>
